n8n/workflows/bridge-v5-simple.json
{
  "name": "OpenCode-OpenClaw Bridge v5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "1-接收消息",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenCode凭证"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:18789/hooks/wake",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.content || $json.message || '消息' }}\",\n  \"mode\": \"now\"\n}",
        "options": {}
      },
      "name": "2-转发到OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenClaw凭证"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true, response: $json}) }}",
        "options": {}
      },
      "name": "3-返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "4-接收OpenClaw回复",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 550],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenClaw凭证"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true, received: $json}) }}",
        "options": {}
      },
      "name": "5-返回确认",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 550]
    }
  ],
  "connections": {
    "1-接收消息": {
      "main": [[{"node": "2-转发到OpenClaw", "type": "main", "index": 0}]]
    },
    "2-转发到OpenClaw": {
      "main": [[{"node": "3-返回结果", "type": "main", "index": 0}]]
    },
    "4-接收OpenClaw回复": {
      "main": [[{"node": "5-返回确认", "type": "main", "index": 0}]]
    }
  }
}
