n8n/workflows/bridge-v6-file.json
{
  "name": "OpenCode-OpenClaw Bridge v6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "1-接收消息",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenCode凭证"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:18789/hooks/wake",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.content || '消息' }}\",\n  \"mode\": \"now\"\n}",
        "options": {}
      },
      "name": "2-转发到OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenClaw凭证"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true}) }}",
        "options": {}
      },
      "name": "3-返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "4-接收回复",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 450],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenClaw凭证"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {}
      },
      "name": "5-转为JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 450]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/Users/lilei/openclaw_reply.json",
        "options": {}
      },
      "name": "6-写入文件",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [600, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true}) }}",
        "options": {}
      },
      "name": "7-返回确认",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 450]
    }
  ],
  "connections": {
    "1-接收消息": {
      "main": [[{"node": "2-转发到OpenClaw", "type": "main", "index": 0}]]
    },
    "2-转发到OpenClaw": {
      "main": [[{"node": "3-返回结果", "type": "main", "index": 0}]]
    },
    "4-接收回复": {
      "main": [[{"node": "5-转为JSON", "type": "main", "index": 0}]]
    },
    "5-转为JSON": {
      "main": [[{"node": "6-写入文件", "type": "main", "index": 0}]]
    },
    "6-写入文件": {
      "main": [[{"node": "7-返回确认", "type": "main", "index": 0}]]
    }
  }
}
