n8n/workflows/opencode-to-openclaw.json
{
  "name": "OpenCode to OpenClaw Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opencode-send",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-send",
      "name": "接收 OpenCode 消息",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "opencode-send",
      "credentials": {
        "httpHeaderAuth": {
          "id": "header-auth-opencode",
          "name": "OpenCode Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 存储消息到静态数据\nconst message = $input.all()[0].json;\nconst timestamp = Date.now();\nconst messageId = `msg_${timestamp}_${Math.random().toString(36).substr(2, 9)}`;\n\n// 获取现有消息队列\nlet queue = $static.queue || [];\n\nconst newMessage = {\n  id: messageId,\n  timestamp: timestamp,\n  from: 'opencode',\n  to: 'openclaw',\n  status: 'pending',\n  data: message\n};\n\nqueue.push(newMessage);\n$static.queue = queue;\n\nreturn {\n  json: {\n    success: true,\n    messageId: messageId,\n    timestamp: timestamp,\n    queueLength: queue.length\n  }\n};"
      },
      "id": "store-message",
      "name": "存储消息到队列",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-send",
      "name": "返回确认",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "openclaw-poll",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-poll",
      "name": "OpenClaw 轮询",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "openclaw-poll",
      "credentials": {
        "httpHeaderAuth": {
          "id": "header-auth-openclaw",
          "name": "OpenClaw Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取待处理消息\nconst since = $input.all()[0].json.query?.since || 0;\nlet queue = $static.queue || [];\n\n// 筛选待处理消息\nconst pendingMessages = queue.filter(msg => \n  msg.status === 'pending' && \n  msg.to === 'openclaw' &&\n  msg.timestamp > since\n);\n\n// 标记为已读\nqueue = queue.map(msg => {\n  if (pendingMessages.find(p => p.id === msg.id)) {\n    return { ...msg, status: 'delivered', deliveredAt: Date.now() };\n  }\n  return msg;\n});\n$static.queue = queue;\n\nreturn {\n  json: {\n    messages: pendingMessages,\n    count: pendingMessages.length,\n    timestamp: Date.now()\n  }\n};"
      },
      "id": "get-pending",
      "name": "获取待处理消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-poll",
      "name": "返回消息",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-response",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-response",
      "name": "接收 OpenClaw 结果",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 700],
      "webhookId": "openclaw-response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "header-auth-openclaw",
          "name": "OpenClaw Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 存储 OpenClaw 的响应\nconst response = $input.all()[0].json;\nconst messageId = response.messageId;\n\nlet queue = $static.queue || [];\n\n// 更新原消息状态\nqueue = queue.map(msg => {\n  if (msg.id === messageId) {\n    return {\n      ...msg,\n      status: 'completed',\n      response: response.data,\n      completedAt: Date.now()\n    };\n  }\n  return msg;\n});\n\n// 添加到结果队列\nlet results = $static.results || [];\nresults.push({\n  originalMessageId: messageId,\n  timestamp: Date.now(),\n  data: response.data\n});\n$static.queue = queue;\n$static.results = results;\n\nreturn {\n  json: {\n    success: true,\n    messageId: messageId\n  }\n};"
      },
      "id": "store-response",
      "name": "存储结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-response",
      "name": "返回确认",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 700]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "opencode-result",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-result",
      "name": "OpenCode 获取结果",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 900],
      "webhookId": "opencode-result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "header-auth-opencode",
          "name": "OpenCode Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取 OpenCode 的结果\nconst since = $input.all()[0].json.query?.since || 0;\nlet results = $static.results || [];\n\nconst newResults = results.filter(r => r.timestamp > since);\n\n// 清理已读结果\n$static.results = results.filter(r => r.timestamp <= since);\n\nreturn {\n  json: {\n    results: newResults,\n    count: newResults.length,\n    timestamp: Date.now()\n  }\n};"
      },
      "id": "get-results",
      "name": "获取结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-result",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 900]
    }
  ],
  "connections": {
    "接收 OpenCode 消息": {
      "main": [
        [
          {
            "node": "存储消息到队列",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "存储消息到队列": {
      "main": [
        [
          {
            "node": "返回确认",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenClaw 轮询": {
      "main": [
        [
          {
            "node": "获取待处理消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取待处理消息": {
      "main": [
        [
          {
            "node": "返回消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收 OpenClaw 结果": {
      "main": [
        [
          {
            "node": "存储结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "存储结果": {
      "main": [
        [
          {
            "node": "返回确认",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode 获取结果": {
      "main": [
        [
          {
            "node": "获取结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取结果": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
